<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- top navigation bar -->
<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">

      <ul class="title-area">

        <li class="name">
          <h1><a style="color: white;padding:0;font: Source Sans Pro, Helvetica Neue,sans-serif;" href="#">SAMPLE</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
      <!-- Right Nav Section -->
        <ul class="right">

          <li><a class="rightlink" href="#">BOOKS</a></li>
          <li><a class="rightlink" href="#">PHOTOS</a></li>

           <li id="topicon"><a class="fi-social-facebook"></a></li>

            <!-- <li id="topicon"><a class="fi-social-twitter" href="#"></a></li> -->

            <!-- <li id="topicon"><a class="fi-social-instagram"></a></li> -->

            <li id="topicon"><a class="fi-social-github" ></a></li>
          
        </ul>

      <!-- Left Nav Section -->
        
      </section>
    </nav>
</div>
<!-- navigation bar end -->

<div class="backgroundimage">
  <div style="height:15px;"></div>


   <div class="row">
    <div class="small-centered small-11 medium-11 large-12 columns">
      <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5 imagegrid">
        <% Dir.glob("app/assets/images/mainpage/*.jpg").each_with_index do |el,index| %>
          <% if index<3 %>
            <li><div><%= image_tag el.split('/').last(2).join('/') %></div></li>
          <% elsif index<4 %>
            <li><div class="hide-for-small-only"><%= image_tag el.split('/').last(2).join('/') %></div></li>
          <% else %>
            <li><div class="hide-for-medium-down"><%= image_tag el.split('/').last(2).join('/') %></div></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="hide-for-small-only" style="height:30px;"></div>
  
</div>


<div class="tabs-content">
  <div class="content active" id="panel1">
    <div class="row" style="margin-top:40px;">
      <div class="small-11 medium-11 large-9 small-centered medium-centered large-uncentered columns">
        <div class="small-12 columns">
        <div class="row">
          <div class='wrap'>
        
          <div class="small-12 medium-6 columns">
            <div class="show-for-medium-down" style="height:100%; width:100%; position:absolute; left:0 ; border:10px solid white; z-index: 3;"></div>
            <div class="show-for-small-only" style="height:10px;"></div>
            <img src="https://sackvillepastoralcharge.files.wordpress.com/2015/02/swirl.jpg" style="width:100%;padding-right: 8.5px; height: auto;max-height: 260px;">

          </div>
          <div class="small-12 medium-6 columns">
            <div class="show-for-medium-down" style="height:100%; width:100%; position:absolute; left:0 ; border:10px solid white; z-index: 3;"></div>
            <a class="sidemenu" style="margin-left: 10px;top:20px;position: relative;font-size: 2em;" href="#">This is a content section.</a>
       
            <p class="show-for-large-up" style="margin: 30px 10px 0 10px;"><%= truncate("Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.",length: 100, omission: '[...]') %></p>
       
            <div class="postimg" style="margin: 30px 0 0 17px;">
              <p><span class="fi-torso"></span><a class="linkpost" href="#"> &nbsp;Name &nbsp;&nbsp;&nbsp;</a><a class="fi-calendar linkpost" href="#">&nbsp;TimeStamp</a></p>
            </div>
          </div>
          </div>
          </div>

          <div class="row" style="margin-top :20px;">
            <div class="small-12 medium-12 small-centered columns" >
              <ul class="small-block-grid-2 medium-block-grid-4">
                <% Dir.glob("app/assets/images/nature/*.jpg").each do |el| %>
                  <li><div><%= image_tag el.split('/').last(2).join('/'), style: "width: 100%; height:auto; "%></div><div style="height:10px;"></div> <a href="#"><p class="sidemenu" >Link</p></a> </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="row">
              <div class="button round moreposts">More posts</div>
          </div>
        </div>
      </div> 




        <div class="large-3 columns end" >
          <!-- <div class="large-2 columns"></div>-->
          <div class="large-10 large-offset-2 columns">
          <nav id="menu" role="navigation" class="hide-for-medium-down">
            <ul id="mainNav" class="nav-bar no-bullet">
              <li>
          <div class="row">
            <div style="border-top: 2px solid rgba(40,50,70,0.3);">
                <ul class="square" style="width:100%; margin: 0 auto 30px auto;list-style-position: inside;"><span style="padding-top:4px;border-top: 2px solid rgba(40,50,70,0.8);"> <img src="http://images2.fanpop.com/image/photos/10800000/My-Hero-human-anatomy-10858064-1600-1200.jpg"></span> 
                </ul>
              </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div style="border-top: 2px solid rgba(40,50,70,0.3);">
            <ul class="square" style="width:100%; margin: 0 auto 30px auto;list-style-position: inside;"><span class="fi-comment" style="border-top: 2px solid rgba(40,50,70,0.8);padding-top:4px;"></span><span style="padding-top:4px;border-top: 2px solid rgba(40,50,70,0.8);"> Contacts:</span> 
              <li><a class="sidemenu" href="#">Phone:(000) 000-0000</a></li>
              <li><a class="sidemenu" href="#">Email: myemail@gmail.com</a></li>
              <li><a class="sidemenu" href="#">Skype: my_skype</a></li>
            </ul>
          </div>
          </div>
          </li>
          </nav>
        </div>
      </div>
    </div>

    
  </div>

  <div class="content" id="panel2">
        <div class="row" style="margin-top:40px;">
      <div class="small-11 medium-11 large-12 small-centered medium-centered large-uncentered columns">
        <div class="row" style="width: 98%; margin: 0 auto;">
          <div class='wrap'>
        
          <div class="small-12 medium-6 columns">
            <div class="show-for-medium-down" style="height:100%; width:100%; position:absolute; left:0 ; border:10px solid white; z-index: 3;"></div>
            <div class="show-for-small-only" style="height:10px;"></div>
            <img src="" style="width:100%;padding-right: 8.5px; height: auto;max-height: 330px;">

          </div>
          <div class="small-12 medium-6 columns">
            <div class="show-for-medium-down" style="height:100%; width:100%; position:absolute; left:0 ; border:10px solid white; z-index: 3;"></div>
            <a class="sidemenu" style="margin-left: 10px;top:20px;position: relative;font-size: 2em;" href="#">This is a content section.</a>
       
            <p class="show-for-large-up" style="margin: 30px 0 0 20px; width: 98%;"><%= truncate("Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.",length: 70, omission: '[...]') %></p>
       
            <div class="postimg" style="margin: 30px 0 0 20px;">
              <p><span class="fi-torso"></span><a class="linkpost" href="#"> &nbsp;Name &nbsp;&nbsp;&nbsp;</a><a class="fi-calendar linkpost" href="#">&nbsp;TimeStamp</a></p>
            </div>
          </div>
          </div>
          </div>

          <div class="row" style="width: 98%; margin:20px auto 0 auto;">
            <div class="small-12 medium-12 small-centered columns" >
              <ul class="small-block-grid-2 medium-block-grid-4">
                <% Dir.glob("app/assets/images/nature/*.jpg").each do |el| %>
                  <li><div><%= image_tag el.split('/').last(2).join('/'), style: "width: 100%; height:auto; max-height: 150px; "%></div><div style="height:10px;"></div> <a href="#"><p class="sidemenu" >Link</p></a> </li>
                <% end %>
              </ul>
            </div>
          </div>

      </div> 
    </div>
  </div>
</div>

    
    <%= yield %>

       
     
      <footer>
        <div style="background:rgba(40,60,70,1);">
          <div class="row" style="padding:0;">
            <div class="small-8 medium-12 small-centered columns" >
                <p style="text-align: center; margin-top: 20px; ">
                    <a class="link" href="#">Some amazing footer.</a>
                </p> 
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
